In [3]:
import pandas as pd
import numpy as np

In [4]:
med_concept = pd.read_csv('infusionDrug.csv')

C:\Users\wjddm\AppData\Local\Temp\ipykernel_33708\435430144.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  med_concept = pd.read_csv('infusionDrug.csv')

In [5]:
vasoactive_inotropic = ['Norepinephrine (mcg/min)', 'Dopamine (mcg/min)', 'Phenylephrine (mcg/min)', 'Epinephrine (mcg/min)',
                         'Nitroprusside (mcg/kg/min)', 'Dobutamine (mcg/kg/min)']

In [7]:
interest = med_concept.drugname.isin(vasoactive_inotropic)
obj = med_concept[interest][['patientunitstayid', 'infusionoffset','drugname', 'infusionrate']]
obj

,patientunitstayid,infusionoffset,drugname,infusionrate
1,242082,425,Norepinephrine (mcg/min),41.0
2,242082,125,Norepinephrine (mcg/min),26.3
4,242082,55,Norepinephrine (mcg/min),8.0
9,242082,665,Norepinephrine (mcg/min),30.0
10,242082,230,Norepinephrine (mcg/min),34.0
...,...,...,...,...
4762160,3247421,182,Norepinephrine (mcg/min),NaN
4762161,3247421,840,Norepinephrine (mcg/min),NaN
4762162,3247421,1105,Norepinephrine (mcg/min),NaN
4762163,3247421,1142,Norepinephrine (mcg/min),NaN
4762164,3247421,1172,Norepinephrine (mcg/min),NaN

In [8]:
target = obj.pivot_table(index = ['infusionoffset','patientunitstayid'], columns = 'drugname')

In [10]:
target.to_csv('after_pivot.csv')

In [11]:
df = pd.read_csv('after_pivot.csv')
df

,infusionoffset,patientunitstayid,Dobutamine (mcg/kg/min),Dopamine (mcg/min),Epinephrine (mcg/min),Nitroprusside (mcg/kg/min),Norepinephrine (mcg/min),Phenylephrine (mcg/min)
0,-32021,3224937,NaN,NaN,NaN,NaN,37.5,NaN
1,-5181,999150,NaN,NaN,NaN,NaN,20.0,NaN
2,-5161,999150,NaN,NaN,NaN,NaN,20.0,NaN
3,-5131,999150,NaN,NaN,NaN,NaN,20.0,NaN
4,-5071,999150,NaN,NaN,NaN,NaN,20.0,NaN
...,...,...,...,...,...,...,...,...
205036,94488,3146941,NaN,NaN,NaN,NaN,15.0,NaN
205037,94548,3146941,NaN,NaN,NaN,NaN,15.0,NaN
205038,94581,3146941,NaN,NaN,NaN,NaN,15.0,NaN
205039,94608,3146941,NaN,NaN,NaN,NaN,15.0,NaN
205040,94668,3146941,NaN,NaN,NaN,NaN,15.0,NaN

In [12]:
df = df[df['infusionoffset']>0].sort_values(by=['patientunitstayid', 'infusionoffset'])
df

,infusionoffset,patientunitstayid,Dobutamine (mcg/kg/min),Dopamine (mcg/min),Epinephrine (mcg/min),Nitroprusside (mcg/kg/min),Norepinephrine (mcg/min),Phenylephrine (mcg/min)
5054,55,242082,NaN,NaN,NaN,NaN,8.0,NaN
9207,125,242082,NaN,NaN,NaN,NaN,26.3,NaN
15333,230,242082,NaN,NaN,NaN,NaN,34.0,NaN
17925,275,242082,NaN,NaN,NaN,NaN,37.5,NaN
25949,425,242082,NaN,NaN,NaN,NaN,41.0,NaN
...,...,...,...,...,...,...,...,...
76161,1628,3247055,NaN,NaN,NaN,NaN,NaN,0.0
90580,2108,3247055,NaN,NaN,NaN,NaN,NaN,0.0
11758,167,3247063,NaN,NaN,NaN,NaN,93.8,NaN
1393,2,3247421,NaN,NaN,NaN,NaN,18.8,NaN
28821,482,3247421,NaN,NaN,NaN,NaN,0.2,NaN

In [21]:
df['vasoactive/inotropic']=df.iloc[:,2:].sum(axis = 1).values
df

,infusionoffset,patientunitstayid,Dobutamine (mcg/kg/min),Dopamine (mcg/min),Epinephrine (mcg/min),Nitroprusside (mcg/kg/min),Norepinephrine (mcg/min),Phenylephrine (mcg/min),vasoactive/inotropic
5054,55,242082,NaN,NaN,NaN,NaN,8.0,NaN,8.0
9207,125,242082,NaN,NaN,NaN,NaN,26.3,NaN,26.3
15333,230,242082,NaN,NaN,NaN,NaN,34.0,NaN,34.0
17925,275,242082,NaN,NaN,NaN,NaN,37.5,NaN,37.5
25949,425,242082,NaN,NaN,NaN,NaN,41.0,NaN,41.0
...,...,...,...,...,...,...,...,...,...
76161,1628,3247055,NaN,NaN,NaN,NaN,NaN,0.0,0.0
90580,2108,3247055,NaN,NaN,NaN,NaN,NaN,0.0,0.0
11758,167,3247063,NaN,NaN,NaN,NaN,93.8,NaN,93.8
1393,2,3247421,NaN,NaN,NaN,NaN,18.8,NaN,18.8
28821,482,3247421,NaN,NaN,NaN,NaN,0.2,NaN,0.2

In [24]:
sample = df[['patientunitstayid','infusionoffset','vasoactive/inotropic']]
sample

       patientunitstayid  infusionoffset  vasoactive/inotropic
5054              242082              55                   8.0
9207              242082             125                  26.3
15333             242082             230                  34.0
17925             242082             275                  37.5
25949             242082             425                  41.0
...                  ...             ...                   ...
76161            3247055            1628                   0.0
90580            3247055            2108                   0.0
11758            3247063             167                  93.8
1393             3247421               2                  18.8
28821            3247421             482                   0.2

[203770 rows x 3 columns]

In [26]:
sample[sample['vasoactive/inotropic']==0.0]

        patientunitstayid  infusionoffset  vasoactive/inotropic
19356              242319             301                   0.0
76598              243334            1640                   0.0
84996              243334            1910                   0.0
91742              243334            2150                   0.0
34470              243445             596                   0.0
...                   ...             ...                   ...
152112            3246892            6170                   0.0
16353             3247055             248                   0.0
39062             3247055             692                   0.0
76161             3247055            1628                   0.0
90580             3247055            2108                   0.0

[32733 rows x 3 columns]

In [27]:
sample['vasoactive/inotropic'] = sample['vasoactive/inotropic'].apply(lambda x: 1 if x > 0 else 0)
sample

C:\Users\wjddm\AppData\Local\Temp\ipykernel_33708\1836266865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['vasoactive/inotropic'] = sample['vasoactive/inotropic'].apply(lambda x: 1 if x > 0 else 0)

       patientunitstayid  infusionoffset  vasoactive/inotropic
5054              242082              55                     1
9207              242082             125                     1
15333             242082             230                     1
17925             242082             275                     1
25949             242082             425                     1
...                  ...             ...                   ...
76161            3247055            1628                     0
90580            3247055            2108                     0
11758            3247063             167                     1
1393             3247421               2                     1
28821            3247421             482                     1

[203770 rows x 3 columns]

In [31]:
sample.reset_index(drop=True, inplace = True)
sample.to_csv('vasoactive_inotropic.csv')

In [40]:
sample['vasoactive/inotropic'].value_counts()

vasoactive/inotropic
1    171037
0     32733
Name: count, dtype: int64

In [48]:
import time
import random
def check_class_ratio(dataset):
    class_ratio = round(np.mean(dataset['vasoactive/inotropic']), 2)
    return class_ratio



def random_split_patient(df, train_ratio, Threshold, n_trial):
    data = df.copy()
    
    search_time = time.time()
    
    for T in range(n_trial):
        start = time.time()
        array = data.patientunitstayid.unique()
        
        seed = random.randint(1, 10000)
        np.random.seed(seed) 
        np.random.shuffle(array)


        split_point = int(train_ratio * len(array))
        patient_for_train, patient_for_test = np.split(array, [split_point])

        

        condition_train = data.patientunitstayid.isin(patient_for_train)
        holdout_train = data[condition_train]

        condition_test = data.patientunitstayid.isin(patient_for_test)
        holdout_test = data[condition_test]
        
        holdout_test = holdout_test.sort_values(by=['patientunitstayid', 'infusionoffset'])
                 

        train_class_ratio  = check_class_ratio(holdout_train)
        test_class_ratio  = check_class_ratio(holdout_test)
                
            
        if (train_class_ratio - test_class_ratio) >= Threshold:
            
            break  # 클래스 비율이 모두 threshold 이상일 경우 반복문 종료
        
        if T % 100 == 0:
            print('Trial: ', T)
        
        if T == 9999:
            print('최대 Trial 달성, 분할 불가')
        
        end = time.time()
#         print('Trial 종료, 소요시간:{}'.format(end-start))
        
    train = holdout_train.drop(['patientunitstayid'], axis = 1)
    test = holdout_test.drop(['patientunitstayid'], axis = 1)
    search_time_end = time.time()
    
    print('train set : test set = {} : {}'.format(train_ratio, 1-train_ratio))
    print('Train set class: ', train['vasoactive/inotropic'].value_counts())
    print('Test set class: ', test['vasoactive/inotropic'].value_counts())
    print('-'*20)
    print('Train class ratio: {}:{}'.format((train['vasoactive/inotropic'].value_counts()[0])/len(train), (train['vasoactive/inotropic'].value_counts()[1])/len(train)))
    print('Test class ratio: {}:{}'.format((test['vasoactive/inotropic'].value_counts()[0])/len(test), (test['vasoactive/inotropic'].value_counts()[1])/len(test)))
    print('Split seed: ',seed)
    print('train ratio:', train_ratio)
    print('Threshold:', Threshold)
    print('총 소요 시간(초):{}'.format(search_time_end - search_time))
    print('시도한 trial 수: ', T)
    
    return train, test

trainset, testset = random_split_patient(sample, train_ratio=0.8, Threshold=0.01, n_trial=200)

train set : test set = 0.8 : 0.19999999999999996
Train set class:  vasoactive/inotropic
1    136434
0     25485
Name: count, dtype: int64
Test set class:  vasoactive/inotropic
1    34603
0     7248
Name: count, dtype: int64
--------------------
Train class ratio: 0.1573935115706001:0.8426064884293999
Test class ratio: 0.173185825906191:0.826814174093809
Split seed:  1682
train ratio: 0.8
Threshold: 0.01
총 소요 시간(초):0.06322932243347168
시도한 trial 수:  0

In [50]:
trainset.to_csv('trainset.csv')
testset.to_csv('testset.csv')

In [87]:
trainset['y'] = trainset['infusionoffset'].apply(lambda x: 1 if x % 7 == 0 else 0)

In [88]:
trainset.y.value_counts()

y
0    138728
1     23191
Name: count, dtype: int64

In [89]:
testset['y'] = testset['infusionoffset'].apply(lambda x: 1 if x % 7 == 0 else 0)
testset.y.value_counts()

y
0    35865
1     5986
Name: count, dtype: int64

In [90]:
trainset.to_csv('7m_trn.csv')
testset.to_csv('7m_tes.csv')